<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>更新密码</title>
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style>
        #user{
            text-align: center;
            width:500px;
            margin: 0 auto;
            margin-top:100px;
        }
    </style>
</head>
<body>
    <form id="user" method="post">
        <div class="form-group">
        <input class="form-control" type="password" name="password1" placeholder="输入更新后的密码"/>　<br/>
        </div>
        <div class=""form-group>
            <input class="form-control" type="password" name="password2" placeholder="重新输入密码"/> <br/>
        </div>
        <input  class="btn btn-default" type="submit"/>
    </form>
</body>
</html>